/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 93%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Sunflower", sans-serif;
  font-weight: lighter;
}

.navBar {
  position: relative;
  top: 0;
  left: 0;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: rgb(125, 129, 130);
  width: 100%;
  /*height: 4rem;*/
  z-index: 100;
  display: block;
  color: white;
}

#logo {
  font-size: 3em;
  color: #b5bd89;
  cursor: pointer;
  text-decoration: none;
  font-weight: normal;
}
.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#myHistory:hover {
  color: white;
  text-decoration: none;
}

#myHistory {
  background-color: transparent;
  color: #dfbe99;
  outline: none;
  font-size: 2em;
  cursor: pointer;
  margin-left: 10%;
  text-decoration: none;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  background-color: rgba(0, 0, 0, 0.75); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

#overlayFront {
  position: fixed;
  width: 60%;
  height: 70%;
  top: 15%;
  left: 15%;
  right: 20%;
  bottom: 20%;
  background-color: white; /* Black background with opacity */
  z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
  font-size: 2em;
  padding: 15px;
}
#overlay-image {
  height: 75%;
  padding: 10px;
  max-width: 50%;
}

#overlay-button-close:hover {
  color: grey;
}

#overlay-button-close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  border: none;
  background-color: transparent;
  font-size: 1em;
}

.static-name {
  color: #747958;
  padding: 10px;
  font-weight: normal;
}
.static-data {
  color: #537376;
  padding: 10px;
}

#see-more {
  position: absolute;
  width: 40%;
  right: 30%;
  height: 2.3rem;
  bottom: 1rem;
  border: none;
  background-color: light-grey;
  font-size: 0.7em;
}

td {
  padding: 0.5rem;
  padding-left: 0;
}

#date-data {
  position: absolute;
  left: 53%;
  top: 1.5rem;
  border: none;
  background-color: transparent;
  font-size: 1.5em;
  color: #8e5572;
}

#see-more:hover {
  color: white;
  background-color: grey;
}
.data-header {
  font-weight: bold;
  font-size: 1em;
}

#meta-data {
  position: absolute;
  left: 53%;
  top: 3.6em;
  padding: 10px;
}

#growth {
  padding-top: 30px;
}

#log-entry-title {
  font-size: 3em;
  color: #b5bd89;
  text-decoration: none;
  font-weight: normal;
  float: left;
}

#add-log-input {
  font-size: 2em;
  color: #9ba07d;
  padding-left: 10px;
  font-weight: normal;
  line-height: 40pt;
  float: left;
}

#add-log-input-data {
  font-size: 1.5em;
  color: #9ba07d;
  padding-left: 10px;
  font-weight: normal;
  float: left;
}

#farm-connect-title {
  float: right;
  font-size: 6em;
  color: #9ba07d;
  text-decoration: none;
  font-weight: normal;
  padding-right: 0%;
}
#growth {
  padding-top: 30px;
}


.data-label {
  color: #3a3a3a;
}


.snapshot-card{
	position: relative;
	width:60%;
	height:450px;
	left: 20%;
	right: 20%;
	
	border:solid;
}

.snapshot-img img{
	height:150px;
	width:150px;
	padding: 50px;
}

.snapshot-date{
	position: absolute;
	left: 53%;
	
	border: none;
	background-color: transparent;
	font-size: 1.5em;
	color:#8e5572;
}
.snapshot-weather{
	position: absolute;
	left:53%;
  	top:2em;
  	padding:10px;
  	padding-left: 0;
  	font-size: 1.5em;
  }

